# Copy this to .env and fill in your keys
# .env is gitignored — never commit it

DPLA_API_KEY=151e56a823a4a293daedeb6e1921f434
NASA_API_KEY=Tbi0R2hdMhYt3gsTKRLojwvAICwpockk4JJkSrxW
SMITHSONIAN_API_KEY=Tbi0R2hdMhYt3gsTKRLojwvAICwpockk4JJkSrxW
EUROPEANA_API_KEY=uddeperskila
FRED_API_KEY=4e88560f72a201213ccd9030359bf6ac
MERRIAM_WEBSTER_DICTIONARY_API_KEY=199d1e49-f79e-43e0-ac07-fe69159992d0
MERRIAM_WEBSTER_THESAURUS_API_KEY=7bb5e5f1-c340-4e77-9e9e-c5f5d74b52ae
GOOGLE_BOOKS_API_KEY=AIzaSyBWqcQV44DilpNgeR7FyAbj_nNhnyFiE9I

PORT=3000
